extends layout

block content
  h1= Tweets
  
  table
    thead
      tr
        td= 'Text'
        td= 'Created At'
        td= 'Link'
    tbody
      each tweet in listTweets
        tr
          td= tweet.text
          td
            span(class='twitterDate')= tweet.created_at
          td= tweet.url
  // format datetime in twitter-like fashion
  script(type="text/javascript").
    $(".twitterDate").each(function() {
      $(this).text(moment($(this).text()).twitterLong());
    });