extends layout

block content
  h1= Tweets
  
  table
    thead
      tr
        td Content
        td Created
        td Link
    tbody
      each tweet in listTweets
        tr
          td
            if tweet.retweet
              div.retweet
                span.retweetBy= tweet.retweet_by
                |
                | Retweeted
                |
                span.retweetFrom= tweet.retweet_from
                | :
            p.tweetText= tweet.text
          td
            span.tweetDateTime= tweet.date_time
          td
            a(href=tweet.link target="_blank") Link
          
  // format datetime in twitter-like format
  script(type="text/javascript").
    $('.tweetDateTime').each(function() {
      $(this).text(moment($(this).text()).twitterLong());
    });